<!DOCTYPE html>
<html>
  <head>
    <title>Layouts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-md-6">
        <%= yield :users %>
      </div>
      <div class="col-md-6">
        <%= yield :userform %>
      </div>
    </div>
  </body>
</html>
