<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show Dojo</title>
</head>
<body>
 
		<h1>Show Dojo</h1>
		<table>
			<tr>
				<td>Branch:</td>
				<td><%= @dojo.branch %></td>
			</tr>
			<tr>
				<td>Street:</td>
				<td><%= @dojo.street %></td>
			</tr>
			<tr>
				<td>City:</td>
				<td><%= @dojo.city %></td>
			</tr>
			<tr>
				<td>State:</td>
				<td><%= @dojo.state %></td>
			</tr>
		</table>

	<a href="/goback">Home</a>
	<a href="/dojos/<%= @dojo.id %>/edit">Edit</a>
</body>
</html>
