<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dojos</title>
</head>
<body>
	<h1>Listing <%= @total %> Dojos</h1>
	<table>
		<tr>
			<td>Coding Dojo Branch</td>
			<td>Street</td>
			<td>City</td>
			<td>State</td>
		</tr>
		<% @dojo %>
		<% @dojo.each do |x| %>
			<tr>
				<td><%= x.branch %></td>
				<td><%= x.street %></td>
				<td><%= x.city %></td>
				<td><%= x.state %></td>
			</tr>
		<% end %>
	</table>
</body>
</html>
