<h1><%= @user.name %></h1>
<h1><%= @user.email %></h1>
<form action = "<%= secrets_path %>" method = "post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" id="Content" name = "secret[content]">
	<input type="submit" value = "Create Secret">
</form>
<!-- SECRETS FORM BUILT INTO SHOW JUST SENDING TO THE ROUTE FOR SECRETS -->

<% @user.secrets.each do |secret| %>
	<h1><%= secret.content %></h1>
	<h3><%= secret.likes.count %> likes</h3>
	<% if secret.user == current_user %>
		<form action = "<%= secret_path secret.id %>" method = "post">
		    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="_method" value="delete">
			<input type = 'submit' value = 'Delete Secret'>
		</form>
	<% end %>
<% end %>
<a href="<%= edit_user_path @user.id %>">Update Account</a>
