<p><%= flash[:success] %></p>
<p>Name: <%= @result['name'] %></p>
<p>Dojo Location: <%= @result['location'] %></p>
<p>Favorite Language: <%= @result['language'] %></p>
<p>Comment: <%= @result['comments'] %></p>
<a href="/">Go Back</a>