<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<h1>Listing <%= @dojos.count %> Dojos</h1>
<% if flash[:success] %>
	<p><%= flash[:success] %></p>
<% end %>
<table class="table-striped">
	<thead>
		<tr>
			<th>Coding Dojo Branch</th>
			<th>Street</th>
			<th>City</th>
			<th>State</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @dojos.each do |dojo| %>
		<tr>
			<td><%= dojo.branch %>
			</td>
			<td><%= dojo.street %>
			</td>
			<td><%= dojo.city %>
			</td>
			<td><%= dojo.state %>
			</td>
			<td><a href="dojos/show/<%= dojo.id%>">Show</a><a href="dojos/edit/<%= dojo.id%>">Edit</a><a href="dojos/destroy/<%= dojo.id%>">Destroy</a></td>
		</tr>
		<% end %>
	</tbody>
</table>
	<p><a href="<%= dojos_new_path %>">New Dojo</p>
